//Fonts

$garamond: "garamond-premier-pro", sans-serif;
$futura: "futura-pt", sans-serif;

@font-face {
  font-family: 'Didot1';
  src: url('../fonts/Didot.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Didot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Didot.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Didot.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Didot.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Didot-Italic';
  src: url('../fonts/Didot-Italic.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Didot-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Didot1-Bold';
  src: url('../fonts/DidotBold.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/DidotBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DidotBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DidotBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DidotBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}


