@import 'settings';
@import 'components/grid';
@import 'components/home';
@import 'components/media';
@import 'components/blog';

body, html {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	font-family: $lato;
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	line-height: 34px;
	color: #000;
}

section {
	padding: 3rem 0;
	&.grey {
		background: #fafafa;
	}
	p {
		font-size: 100%;
		span.bold {
			font-weight: 800;
		}
		a {
			border-bottom: 2px solid #aaa;
			text-decoration: none;
			padding-bottom: 4px;
			color: #000;
			transition: all 0.4s ease;
			&:hover {
				background: #ddd;
				border-bottom: 2px solid #000;
				color: #000;
				cursor: pointer;
			}
		}
	}
}

.ng-enter {
	-webkit-transition: 0.6s linear all;
	transition: 0.6s linear all;
	opacity: 0; 
}
.ng-enter.ng-enter-active {
  	opacity: 1; 
}